**/node_modules
**/vendor
.git
.gitignore
*.md
!README.md
.env
.env.*
!.env.example
docker-compose.override.yml
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
bootstrap/cache/*.php
.phpunit.cache
.idea
.vscode
*.sqlite
**/coverage
